body{
  background-color: #5d3276;
  font-family: 'Pacifico', cursive;
font-family: 'Gloria Hallelujah', cursive;
}
.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.header {
  background-color:#fff170;
  width: 100%;
  height:50px;
  border-radius: 70%;
}
